body {
  font-size: small;
  background-color: #4285F4;
  margin: auto;
  top: 50px;
  margin-top: 350px;
  margin-bottom: 50px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
}
.pin {
  text-align: center;
  color: white;
  z-index: -9;
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
}
.title {
  font-size: 50px;
  text-align: center;
  color: white;
  z-index: -9;
  position: fixed;
  top: 100px;
  width: 500px;
}
.footer {
  text-align: center;
  color: white;
  z-index: -9;
  position: fixed;
  bottom: 0px;
  width: 500px;
}
a.indexLink {
  color: white;
  text-decoration: underline;
}