body {
  margin: 0;
  padding: 0;
  width: 610px;
  background-color: white;
  color: rgb(117, 117, 117);
}
article {
  display: flex;
  align-items: center;
}
article:hover {
  background-color: ghostwhite;
  transition: .1s ease-in-out;
}
a:visited { 
  color:blue; 
}
.title:visited {
  color: black;
}
img {
  height: 5em;
  width: 5em;
  padding: .5em;
}
hr {
  margin: 0;
}
table {
  width: 100%;
}
.tableParent {
  width: 100%;
}
.topRow {
  font-size: 1.5em;
}
.centered {
  text-align: center
}
.link {
  text-decoration: none;
}
.title {
  color: black;
}
.nowrap {
  white-space: nowrap;
}
.pictureParent {
  position: relative;
  display: inline-block;
}
.caption {
  color: white;
  font-size: .1em;
  position: absolute;
  z-index: 9;
  margin: 0 10%;
  bottom: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  width: 80%;
  white-space: nowrap;
}
.headerParent {
  margin: 0;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: lightgray 0px 1px 10px -1px;
  border-bottom: .5px solid black;
  z-index: 99;
  vertical-align: middle;
}
.header {
  color: rgb(175, 110, 75);
  padding: .5em;
  margin: 0;
}
.inlineImg {
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
}
.floatRight {
  float: right;
}
.info {
  padding: 0 3em;
  transition: height, 0.5s linear;
}
#infoButton {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

  