body {
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: white;
  color: rgb(117, 117, 117);
}

article {
  padding: 1em .5em;
  display: flex;
  align-items: center;
}
article:hover {
  background-color: ghostwhite;
  transition: .1s ease-in-out;
}

img {
  height: 6em;
  width: 6em;
}

hr {
  margin: 0;
}

td {
  padding: 0em .25em;
}

.topRow {
  font-size: 1.5em;
}

.title {
  color: black;
}

.centered {
  text-align: center
}

.link {
  text-decoration: none;
}

.noWrap {
  white-space: nowrap;
}